
:root{
    /* --- Cores --- */
    --cor-fundo: #fafaf8;           
    --cor-escuro: #0f0f0f;         
    --cor-texto: #1a1a1a;           
    --cor-texto-suave: #555;        
    --cor-cinza: #888;              
    --cor-borda: #e8e8e4;           
    --cor-principal: #e85d26;      
    --cor-principal-hover: #cf4e1e; 
    --cor-principal-claro: #fde8dc;
    --cor-sucesso: #22c55e;         
    --cor-erro: #ef4444;           
    --cor-aviso: #f59e0b;           

    /* --- Fontes --- */
    --fonte-titulo: serif;       
    --fonte-corpo: sans-serif;   
}

.login-pagina{
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 100vh;
}

.login-painel-esquerdo{
    background-color: #0f0f0f;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 48px;
    color: var(--cor-fundo);    
}

.login-painel-esquerdo .logo{
    color: white;
}

.login-frase{
    font-family: var(--fonte-titulo);
    font-size: 48px;
    line-height: 1.2;
    color: var(--cor-fundo);
}

.login-frase span{
    color: var(--cor-principal);
}

.linhas-acento{
    width: 48px;
    height: 3px;
    background: linear-gradient(to right, var(--cor-principal), transparent);
    border-radius: 4px;
    margin-bottom: 16px;
}

.login-rodape-painel{
    font-size: 13px;
    color: var(--cor-texto-suave);
}

.fundo-pontos{
position: relative;
overflow: hidden;
}

.fundo-pontos::before {
    content: "";
    position: absolute;
    inset: 0;
    background: radial-gradient(circle, rgb(90, 90, 90) 1px, transparent 1px);
    background-size: 28px 28px;
    pointer-events: none;
} 

.login-painel-direito{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 48px;
    background-color: var(--cor-fundo);
}

.login-form-card{
    width: 100%;
    max-width: 480px;
    padding: 32px;
    box-shadow: 0 0 30px 3px rgba(63,63,63,0.09);
    border-radius: 32px;
}

.login-titulo{
    font-family: var(--fonte-titulo);
    font-size: 34px;
    margin-bottom: 16px;
}

.login-subtitulo{
    font-size: 15px;
    color: var(--cor-texto-suave);
    margin-bottom: 24px;
}


.login-form{
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}

.login-btn-submit{
    width: 100%;
    margin-top: 8px;
    font-size: 14px;
    color: var(--cor-texto-suave);
}

.login-cadastro-link{
    text-align: center;
    margin-top: 8px;
    font-size: 14px;
    color: var(--cor-texto-suave);
}

.login-cadastro-link a{
    color: var(--cor-principal);
    font-weight: 500;
    transition: all .5s ease;
}

.login-cadastro-link a:hover{
    opacity: 0.75;
}


